<mat-form-field class="city-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let city of model" [selectable]="false" [removable]="true" (removed)="onRemoved(city)">
      {{ city.name }}
      <mat-icon matChipRemove svgIcon="close"></mat-icon>
    </mat-chip>
    <input
      [placeholder]="'cities' | translate"
      #cityInput
      [formControl]="formControl"
      [matAutocomplete]="autocompete"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="[ENTER]"
      [matChipInputAddOnBlur]="false"
    />
  </mat-chip-list>
  <mat-autocomplete #autocompete="matAutocomplete" (optionSelected)="onSelected($event)">
    <mat-option *ngFor="let city of availableFilteredCities$ | async" [value]="city">
      {{ city.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
