<div class="row justify-content-center">
  <mat-card class="col-12 col-md-9 col-lg-6 m-2">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon svgIcon="map-marker-multiple"></mat-icon>
      </div>
      <mat-card-title>{{ 'citySelector' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'messages.selectCities' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ 'messages.selectCitiesLongExplain' | translate }}
      </p>
      <owm-pg-city-selection-input [formControl]="citiesFormControl"></owm-pg-city-selection-input>
      <mat-error *ngIf="citiesFormControl.invalid && citiesFormControl.touched">
        {{ 'messages.validation.invalidFieldValue' | translate }}
      </mat-error>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <button mat-button color="accent" routerLink="/weather-dashboard" [disabled]="citiesFormControl.invalid">
        {{ 'next' | translate | uppercase }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
